<div class="card w-full bg-white shadow-md rounded-lg">
  <div class="card-body">
    <h2 class="card-title"><%= user.slug %></h2>
    <p class="card-text"><%= user.email_address %></p>
  </div>
</div>